:root {
  --color-slate-50: #fafafa;
  --color-slate-100: #f5f5f5;
  --color-slate-200: #e5e5e5;
  --color-slate-300: #d4d4d4;
  --color-slate-400: #bbbbbb;
  --color-slate-500: #737373;
  --color-slate-600: #525252;
  --color-slate-700: #404040;
  --color-slate-800: #262626;
  --color-slate-900: #171717;
  --color-slate-950: #0a0a0a;
  --color-white-0: #ffffff00;
  --color-white-100: #ffffff0d;
  --color-white-200: #ffffff1a;
  --color-white-300: #ffffff33;
  --color-white-400: #ffffff66;
  --color-white-500: #ffffffb3;
  --color-white-600: #ffffffcc;
  --color-white-700: #ffffffd9;
  --color-white-800: #ffffffe6;
  --color-white-900: #fffffff2;
  --color-white-1000: #ffffff;
  --color-red-500: #f80925;
  --color-green-500: #10a76f;
  --color-blue-500: #0066ff;
  --color-black-0: #0c0c0d00;
  --color-black-100: #0c0c0d0d;
  --color-black-200: #0c0c0d1a;
  --color-black-300: #0c0c0d33;
  --color-black-400: #0c0c0d66;
  --color-black-500: #0c0c0db3;
  --color-black-600: #0c0c0dcc;
  --color-black-700: #0c0c0dd9;
  --color-black-800: #0c0c0de6;
  --color-black-900: #0c0c0df2;
  --color-black-1000: #0c0c0d;
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-400: #bbbbbb;
  --color-gray-500: #737373;
  --color-gray-600: #525252;
  --color-gray-700: #404040;
  --color-gray-800: #262626;
  --color-gray-900: #171717;
  --color-gray-950: #0a0a0a;
  --global-device-width-xl: 1200;
  --global-device-width-md: 768;
  --global-device-width-sm: 576;
  --global-device-width-lg: 992;
  --global-device-width-xxl: 1400;
  --global-device-container-md: 720;
  --global-device-container-sm: 540;
  --global-device-container-lg: 960;
  --global-device-container-xl: 1140;
  --global-device-container-xxl: 1320;
  --global-device-gutter-lg: 32;
  --global-device-gutter-md: 24;
  --global-device-gutter-sm: 16;
  --global-space-0: 0;
  --global-space-100: 4;
  --global-space-150: 6;
  --global-space-200: 8;
  --global-space-300: 12;
  --global-space-400: 16;
  --global-space-600: 24;
  --global-space-800: 32;
  --global-space-1200: 48;
  --global-space-1600: 64;
  --global-space-2000: 92;
  --global-space-2400: 96;
  --global-space-4000: 160;
  --global-space-050: 2;
  --global-space-Negative-300: -12;
  --global-space-Negative-100: -4;
  --global-space-Negative-400: -16;
  --global-space-Negative-200: -8;
  --global-space-Negative-600: -24;
  --global-space-Negative-050: -2;
  --global-dimension-xxl: var(--space-1600);
  --global-dimension-lg: var(--space-800);
  --global-dimension-md: var(--space-400);
  --global-dimension-xl: var(--space-1200);
  --global-dimension-sm: var(--space-200);
  --typography-fontFamilies-serif: "Hoefler Text";
  --typography-fontFamilies-sans: "Inter";
  --typography-fontFamilies-display: "Liberator";
  --typography-fontFamilies-code: "Roboto Mono";
  --typography-fontWeights-regular: "Regular";
  --typography-fontWeights-semibold: "Semi Bold";
  --typography-fontWeights-bold: "Bold";
  --typography-fontWeights-regular-italic: "Regular Italic";
  --typography-fontWeights-semibold-italic: "Semi Bold Italic";
  --typography-fontSizes-9xl: 128;
  --typography-fontSizes-8xl: 96;
  --typography-fontSizes-7xl: 72;
  --typography-fontSizes-6xl: 60;
  --typography-fontSizes-5xl: 48;
  --typography-fontSizes-4xl: 40;
  --typography-fontSizes-3xl: 30;
  --typography-fontSizes-2xl: 24;
  --typography-fontSizes-xl: 20;
  --typography-fontSizes-lg: 18;
  --typography-fontSizes-base: 16;
  --typography-fontSizes-sm: 14;
  --typography-fontSizes-xs: 12;
  --typography-lineHeights-xs: 16;
  --typography-lineHeights-sm: 20;
  --typography-lineHeights-base: 24;
  --typography-lineHeights-lg: 28;
  --typography-lineHeights-xl: 28;
  --typography-lineHeights-2xl: 32;
  --typography-lineHeights-3xl: 36;
  --typography-lineHeights-4xl: 40;
  --typography-lineHeights-5xl: 48;
  --typography-lineHeights-6xl: 60;
  --typography-lineHeights-7xl: 72;
  --typography-lineHeights-8xl: 96;
  --typography-lineHeights-9xl: 128;
  --typography-letterSpacing-increased: 1.5;
  --typography-letterSpacing-decreased: -0.5;
  --typography-letterSpacing-default: 0;
  --typography-paragraphSpacing-2xl: 26;
  --typography-paragraphSpacing-3xl: 32;
  --geometry-padding-xxl: var(--dimension-xxl);
  --geometry-padding-md: var(--dimension-md);
  --geometry-padding-lg: var(--dimension-lg);
  --geometry-padding-sm: var(--dimension-sm);
  --geometry-padding-xs: var(--dimension-xs);
  --geometry-padding-xl: var(--dimension-xl);
  --geometry-sizing-md: var(--space-600);
  --geometry-sizing-sm: var(--space-400);
  --geometry-sizing-lg: var(--space-800);
  --geometry-sizing-xl: var(--space-1200);
  --geometry-sizing-xxl: var(--space-1600);
  --geometry-borderRadius-xl: var(--dimension-xl);
  --geometry-borderRadius-lg: var(--dimension-lg);
  --geometry-borderRadius-sm: var(--dimension-sm);
  --geometry-borderRadius-full: 9999;
  --geometry-borderWidth-regular: 1;
  --geometry-borderWidth-focus-ring: 2;
  --geometry-borderWidth-device: 8;
  --geometry-opacity-high: 90;
  --geometry-opacity-md: 50;
  --geometry-opacity-low: 10;
  --geometry-opacity-md-low: 25;
  --geometry-opacity-md-high: 75;
  --geometry-opacity-full: 100;
  --geometry-opacity-none: 0;
  --light-brand-background: var(--gray-300);
  --light-brand-default: var(--gray-700);
  --light-brand-on: var(--white-100);
  --light-fg-secondary: var(--gray-400);
  --light-fg-tertiary: var(--slate-400);
  --light-fg-default: var(--gray-900);
  --light-fg-hover: var(--gray-500);
  --light-fg-secondary hover: var(--gray-800);
  --light-fg-tertiary hover: var(--slate-400);
  --light-bg-tertiary: var(--gray-300);
  --light-bg-secondary: var(--gray-100);
  --light-bg-default: var(--white-1000);
  --light-bg-hover: var(--gray-100);
  --light-bg-secondary hover: var(--gray-200);
  --light-bg-tertiary hover: var(--gray-400);
  --light-neutral-default: var(--primary-gold-500);
  --light-neutral-on: var(--white-100);
  --light-neutral-background: var(--primary-gold-300);
  --light-border-default: var(--slate-700);
  --light-border-regular: var(--slate-600);
  --dark-gray-background: var(--gray-800);
  --dark-gray-default: var(--gray-900);
  --dark-gray-on: var(--white-100);
  --dark-fg-secondary: var(--white-500);
  --dark-fg-tertiary: var(--white-400);
  --dark-fg-default: var(--white-1000);
  --dark-bg-secondary hover: var(--gray-900);
  --dark-bg-secondary: var(--gray-800);
  --dark-bg-default: var(--gray-900);
  --dark-bg-hover: var(--gray-700);
  --dark-bg-tertiary: var(--gray-600);
  --dark-bg-tertiary hover: var(--gray-700);
  --dark-neutral-default: var(--primary-gold-500);
  --dark-neutral-on: var(--white-100);
  --dark-neutral-background: var(--primary-gold-700);
  --dark-border-default: var(--slate-600);
  --dark-border-variant: var(--slate-500);
}
